.left {
    background-color: green;
    height: 100%;
    width: 25%;
  }
  
  .main {
    
    margin-left: 20px;
    height: 100%;
    width: 75%;
    // background-color: red;
  }
  
  .cover {
    height: 100%;
    display: flex;
    padding: 0 150px;
  }