.parent {
    height: 100%;
    width: 100%;
   
  }
  
  .head {
    background-color: yellow;
    height: 7%;
    width: 100%;
  }
  
  .main {
    
    
    height: 93%;
    width: 100%;
  }
  
  .cover {
    height: 100%;

    
  }